
.col-sm-4 {
	font-family: 'Oswald', sans-serif;
	text-align: center;
	

}

.btn-info {
	background-color: #53c68c;
	padding-top: 2px;
	padding-bottom: 2px;
	margin-left: 2px;
	margin-right: 2px;
	font-size: 20px;
		margin-top: 40px;
	margin-bottom: 40px;

}

.time {
	font-size:18px;
	padding-top: 5px !important;
	
}

.header {
	font-family: 'Pacifico', cursive;
	font-size: 60px;
	margin-top: 30px;
	margin-bottom: 60px;
	color: grey;
	text-align: center;
}

p{
	font-family: 'Oswald', sans-serif;
	text-align: center;
	font-size: 40px;
}

.img-responsive{
		margin-top: 20px;
    width: 100%;
    height: auto;
    opacity: 0.3;

}

.center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 40px;
	 opacity: 0.8;
}

.background {

	text-align: center;
}

.background{
		font-family: 'Oswald', sans-serif;
		margin-bottom: 20px !important;
	text-align: center;
	margin-bottom: 20px;
	height: 40px;
}

input {
	color: black;
	text-align: center;
}

.timer {
	color: #53c68c;
border: 0px;
	font-size: 40px;
	margin-top: 20px;
}